@import 'variables';
.course-name,
.course-name:hover {
    text-decoration: none;
    color: inherit;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options {
    width: 200px;
    margin: 0 16px;
}
