<div class="mt-4">
    <h3>Đăng khoá học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khoá học</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên khoá học vào đây">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khoá học</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Nhập mô tả khoá học vào đây">
        </div>
        <div class="form-group">
            <label for="videoId">Video giới thiệu</label>
            <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Nhập id video giới thiệu khoá học vào đây">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level" placeholder="Nhập level khoá học vào đây">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>